<configuration>
    <appender name="StatsOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="StatsLog" class="ch.qos.logback.core.FileAppender">
        <file>stats-service/stats-server/logs/StatsLog.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
        <append>false</append>
    </appender>
    <root level="info">
        <appender-ref ref="StatsOut"/>
    </root>
    <logger name ="ru.practicum.ewm.stats" level="info">
        <appender-ref ref="StatsLog"/>
    </logger>
</configuration>